.PostsCard {
  padding: 0px 100px 100px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* 카드 간 간격을 일정하게 설정 */
}

/* 카드 스타일 */
.PostsCard > div {
  padding: 16px 22px;
  border: solid 1px #d4d2e3;
  border-radius: 24px;
  flex: 0 0 30%;
  margin: 10px;
  box-sizing: border-box;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 280px;
}

/* 이미지 스타일 */
.PostsCard img {
  width: 100%;
  height: auto;
  border-radius: 24px;
  background-color: antiquewhite;
}

/* 이미지가 없을 때 .no-image 스타일 */
.PostsCard .no-image {
  width: 100%;
  height: 200px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  font-size: 16px;
  color: #a0a3bd;
  text-align: center;
}

/* 카드 제목 */
.PostsCard h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  color: #5d5a88;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 카드 내용 */
.PostsCard p {
  font-size: 16px;
  color: #a0a3bd;
  line-height: 24px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 화면 크기가 1024px 이하일 때 (태블릿 화면) */
@media (max-width: 1024px) {
  .PostsCard {
    width: 90%;
  }

  .PostsCard div {
    flex: 0 0 48%;
  }
}

/* 화면 크기가 768px 이하일 때 (모바일 화면) */
@media (max-width: 768px) {
  .PostsCard {
    width: 100%;
  }

  .PostsCard div {
    flex: 0 0 100%;
  }
}
