@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.Section03 {
  font-family: "Roboto", sans-serif;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 화면 크기가 768px 이하일 때 */
@media (max-width: 900px) {
  .Section03 {
    padding: 40px; /* 여백 조정 */
  }

  .Section03 > img {
    width: 100%; /* 이미지가 부모 요소의 100% 너비를 차지하도록 */
    height: auto; /* 이미지 비율에 맞게 높이 자동 조정 */
  }
}

/* 화면 크기가 480px 이하일 때 (작은 모바일 화면) */
@media (max-width: 480px) {
  .Section03 {
    padding: 20px; /* 더 작은 화면에서 여백을 줄임 */
  }
}
