/* .PostComment{
    font font-family: "DM Sans", sans-serif;
} */
.PostImgContent {
  margin-right: 62px;
}

.ImgBox,
.ImgBox > img,
.no-image {
  width: 396px;
  height: 396px;
  border-radius: 10px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #5d5a88;
}

.PostComment h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
  color: #5d5a88;
}

.PostComment p {
  font-size: 18px;
  line-height: 30px;
  color: #a0a3bd;
}

.PostComment p span{
  filter: grayscale(100%);
  opacity: 0.4;
  padding-right: 5px;
}
