.EditText {
    width: 100%;
    max-width: 500px;

}

.EditText .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.text-box input,.text-box textarea {
    min-width: 300px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #A0A3BD;
    box-sizing: border-box; /* 박스 크기를 올바르게 계산 */
}
.text-box input{
    height: 30px;
}


textarea.content {
    height: 290px;
    resize: none; /* 사용자 크기 조정 비활성화 */
}

.write-button-box {
    min-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.write-button-box button {
    padding: 8px 16px;
    border: none;
    border-radius: 24px;
    background-color: #A0A3BD;
    color: white;
    cursor: pointer;
}
.write-button-box button:last-child{
    background-color: #0094FF;
}

/* button:hover {
    background-color: #7C7F9A;
} */

@media (max-width: 768px) {
    .write-button-box {
        justify-content: center; /* 중간 정렬 */
        gap: 5px;
    }
}

@media (max-width: 480px) {
    textarea.content {
        height: 120px; /* 모바일에서 텍스트 입력 박스 크기 조정 */
    }

    button {
        padding: 6px 12px; /* 버튼 크기 축소 */
    }
}
