/* 컨테이너 설정 */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

.form-container {
    display: flex;
    flex-direction: column;
    /* 각 항목을 세로로 나열 */
    gap: 20px;
    /* 항목 사이에 간격 */
    border: 1px solid #d4d2e3;
    /* 테두리 설정 */
    border-radius: 24px;
    /* 테두리 둥글게 */
    align-items: flex-start;
    justify-content: center;
    height: 60vh;
    /* 화면의 50% 높이 */
    padding: 20px 60px;
    /* 내부 여백 추가 */
    box-sizing: border-box;
    /* padding 포함하여 크기 계산 */
}

/* 폼 항목(각 라벨, 입력, 버튼)을 가로로 나열 */
.form-row {
    display: flex;
    flex-direction: row;
    /* 각 항목을 가로로 나열 */
    gap: 20px;
    /* 항목 사이에 간격 */
}

/* 각 항목 설정 */
.form-item {
    display: flex;
    align-items: center;
    /* 텍스트와 입력 필드를 세로로 정렬 */
    gap: 10px;
    /* 항목 사이에 간격 */
}

/* 레이블 스타일 */
label {
    font-size: 14px;
    color: #42adfb;
    /* 레이블 색상 설정 */
    width: 70px;
}

/* 입력 필드 스타일 */
.input2 {
    padding: 5px;
    font-size: 14px;
    width: 200px;
    /* 너비를 지정하여 균일하게 보이도록 */
    border: 1px solid #ccc;
    /* 입력 필드의 테두리 */
    border-radius: 4px;
    /* 입력 필드 테두리 둥글게 */
}

/* 버튼 스타일 */
.button2 {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #42adfb;
    /* 버튼 테두리 색상 */
    border-radius: 4px;
    /* 버튼 둥글게 */
    background-color: #fff;
    /* 버튼 배경색 */
    color: #42adfb;
    /* 버튼 텍스트 색상 */
}

/* 버튼 호버 효과 */
.button2:hover {
    background-color: #42adfb;
    /* 버튼 배경 색상 변경 */
    color: white;
    /* 버튼 텍스트 색상 변경 */
}

h1 {
    font-size: 24px;
    color: #5d5a88;
}

.special-button {
    margin-left: auto;
    /* 오른쪽 정렬 */
    margin-right: 0;
}

.mail-icon {
    transition: fill 1s ease;
    /* 색상 변화가 부드럽게 전환되도록 설정 */
}

.mail-icon {
    margin-right: 5px;
}

.special-button:hover path {
    fill: #fff;
}